<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://jax-ws.dev.java.net/spring/servlet http://jax-ws.dev.java.net/spring/core"
	 >

	<bean id="context" class="ar.com.tecnologiaaplicada.business.ContextManager" scope="singleton"/>
	
	<!-- context:component-scan base-package="ar.com.tecnologiaaplicada.service"/> -->
	
		
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean" >
		<property name="configLocation" value="classpath:hibernate.cfg.xml">
		</property>
        <property name="configurationClass">
			<value>org.hibernate.cfg.AnnotationConfiguration</value>
		</property>
       <property name="hibernateProperties">
            <props>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.generate_statistics">false</prop>
            </props>
        </property>
		<property name="dataSource" ref="dataSource"/>	
	</bean>
	
    <bean id="dataSource"  class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url" value="jdbc:mysql://localhost:3306/jttecnol_lic"/>
		<property name="username" value="root"/>
		<property name="password" value="lic"/>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    </bean>
    

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> 
        <property name="dataSource"> 
            <ref bean="dataSource"/> 
        </property>
    </bean>
    

	<!-- bean id="oracleLobHandler" class="org.springframework.jdbc.support.lob.OracleLobHandler" lazy-init="default" autowire="default" dependency-check="default">
		<property name="nativeJdbcExtractor">
  			<ref local="nativeJdbcExtractor" /> 
  		</property>
  	</bean-->
    
	<bean id="baseTransactionProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" abstract="true">
		<property name="transactionManager" ref="transactionManager"/>
		<property name="transactionAttributes">
			<props>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="insert*">PROPAGATION_REQUIRED</prop>
                <prop key="update*">PROPAGATION_REQUIRED</prop>
                <prop key="delete*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_SUPPORTS, readOnly</prop>
			</props>
		</property>
	</bean>
	
	
	
    <bean id="dominioDao" class="ar.com.tecnologiaaplicada.persistence.impl.DominioHome">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="dominioBusiness" class="ar.com.tecnologiaaplicada.business.DominioBiz">
        <property name="dao" ref="dominioDao"/>
    </bean>
    <bean id="dominioBiz" parent="baseTransactionProxy">
         <property name="target">
             <ref bean="dominioBusiness"/> 
        </property> 
    </bean>
    <bean id="dominioService" class="ar.com.tecnologiaaplicada.service.impl.DominioService">
        <property name="businessObject" ref="dominioBiz"/>
    </bean>
    <bean id="examenDao" class="ar.com.tecnologiaaplicada.persistence.impl.ExamenHome">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="examenBusiness" class="ar.com.tecnologiaaplicada.business.ExamenBiz">
        <property name="dao" ref="examenDao"/>
    </bean>
    <bean id="examenBiz" parent="baseTransactionProxy">
         <property name="target">
             <ref bean="examenBusiness"/> 
        </property> 
    </bean>
    <bean id="examenService" class="ar.com.tecnologiaaplicada.service.impl.ExamenService">
        <property name="businessObject" ref="examenBiz"/>
    </bean>
    <bean id="examenDetalleDao" class="ar.com.tecnologiaaplicada.persistence.impl.ExamenDetalleHome">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="examenDetalleBusiness" class="ar.com.tecnologiaaplicada.business.ExamenDetalleBiz">
    	<qualifier value="examenDetalleBusiness"/>
        <property name="dao" ref="examenDetalleDao"/>
        <property name="licenciaDao" ref="licenciaDao"/>
        <property name="detalleLicenciaDao" ref="detalleLicenciaDao"/>
    </bean>
    <bean id="examenDetalleBiz" parent="baseTransactionProxy">
         <property name="target">
             <ref bean="examenDetalleBusiness"/> 
        </property> 
    </bean>
    <bean id="examenDetalleService" class="ar.com.tecnologiaaplicada.service.impl.ExamenDetalleService">
        <property name="businessObject" ref="examenDetalleBiz"/>
    </bean>
    <bean id="propiedadDao" class="ar.com.tecnologiaaplicada.persistence.impl.PropiedadHome">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="propiedadBusiness" class="ar.com.tecnologiaaplicada.business.PropiedadBiz">
        <property name="dao" ref="propiedadDao"/>
    </bean>
    <bean id="propiedadBiz" parent="baseTransactionProxy">
         <property name="target">
             <ref bean="propiedadBusiness"/> 
        </property> 
    </bean>
    <bean id="propiedadService" class="ar.com.tecnologiaaplicada.service.impl.PropiedadService">
        <property name="businessObject" ref="propiedadBiz"/>
    </bean>
    
    
    <bean id="clienteDao" class="ar.com.tecnologiaaplicada.persistence.impl.ClienteHome">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="clienteBusiness" class="ar.com.tecnologiaaplicada.business.ClienteBiz">
        <property name="dao" ref="clienteDao"/>
    </bean>
    <bean id="clienteBiz" parent="baseTransactionProxy">
         <property name="target">
             <ref bean="clienteBusiness"/> 
        </property> 
    </bean>
    <bean id="clienteService" class="ar.com.tecnologiaaplicada.service.impl.ClienteService">
        <property name="businessObject" ref="clienteBiz"/>
    </bean>
    <bean id="licenciaDao" class="ar.com.tecnologiaaplicada.persistence.impl.LicenciaHome">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="licenciaBusiness" class="ar.com.tecnologiaaplicada.business.LicenciaBiz">
        <property name="dao" ref="licenciaDao"/>
    </bean>
    <bean id="licenciaBiz" parent="baseTransactionProxy">
         <property name="target">
             <ref bean="licenciaBusiness"/> 
        </property> 
    </bean>
    <bean id="licenciaService" class="ar.com.tecnologiaaplicada.service.impl.LicenciaService">
        <property name="businessObject" ref="licenciaBiz"/>
    </bean>
    <bean id="detalleLicenciaDao" class="ar.com.tecnologiaaplicada.persistence.impl.DetalleLicenciaHome">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="detalleLicenciaBusiness" class="ar.com.tecnologiaaplicada.business.DetalleLicenciaBiz">
        <property name="dao" ref="detalleLicenciaDao"/>
    </bean>
    <bean id="detalleLicenciaBiz" parent="baseTransactionProxy">
         <property name="target">
             <ref bean="detalleLicenciaBusiness"/> 
        </property> 
    </bean>
    <bean id="detalleLicenciaService" class="ar.com.tecnologiaaplicada.service.impl.DetalleLicenciaService">
        <property name="businessObject" ref="detalleLicenciaBiz"/>
    </bean>
    <bean id="activacionDao" class="ar.com.tecnologiaaplicada.persistence.impl.ActivacionHome">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="activacionBusiness" class="ar.com.tecnologiaaplicada.business.ActivacionBiz">
        <property name="dao" ref="activacionDao"/>
    </bean>
    <bean id="activacionBiz" parent="baseTransactionProxy">
         <property name="target">
             <ref bean="activacionBusiness"/> 
        </property> 
    </bean>
    <bean id="activacionService" class="ar.com.tecnologiaaplicada.service.impl.ActivacionService">
        <property name="businessObject" ref="activacionBiz"/>
    </bean>

    <bean id="usuarioDao" class="ar.com.tecnologiaaplicada.persistence.impl.UsuarioHome">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="usuarioBusiness" class="ar.com.tecnologiaaplicada.business.UsuarioBiz">
        <property name="dao" ref="usuarioDao"/>
    </bean>
    <bean id="usuarioBiz" parent="baseTransactionProxy">
         <property name="target">
             <ref bean="usuarioBusiness"/> 
        </property> 
    </bean>
    <bean id="usuarioService" class="ar.com.tecnologiaaplicada.service.impl.UsuarioService">
        <property name="businessObject" ref="usuarioBiz"/>
    </bean>

	<!-- bean id="accountWebService" class="org.springframework.remoting.jaxws.JaxWsPortProxyFactoryBean">
		<property name="serviceInterface" value="example.AccountService"/>
		<property name="wsdlDocumentUrl" value="http://localhost:8888/AccountServiceEndpoint?WSDL"/>
		<property name="namespaceUri" value="http://example/"/>
		<property name="serviceName" value="AccountService"/>
		<property name="portName" value="AccountServiceEndpointPort"/>
	</bean -->

</beans>