<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
	  	<property name="configurationClass">org.hibernate.cfg.AnnotationConfiguration</property> 
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		
		<mapping class="ar.com.tecnologiaaplicada.domain.Usuario"/>
		<mapping class="ar.com.tecnologiaaplicada.domain.Examen"/>
		<mapping class="ar.com.tecnologiaaplicada.domain.Dominio" />
		<mapping class="ar.com.tecnologiaaplicada.domain.Propiedad" />
		<mapping class="ar.com.tecnologiaaplicada.domain.ExamenDetalle" />
		
		<mapping class="ar.com.tecnologiaaplicada.domain.Cliente" />
		<mapping class="ar.com.tecnologiaaplicada.domain.Licencia" />
		<mapping class="ar.com.tecnologiaaplicada.domain.DetalleLicencia" />
		<mapping class="ar.com.tecnologiaaplicada.domain.Activacion" />
    </session-factory>
</hibernate-configuration>
