<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml"/>
		<property name="dataSource" ref="dataSource"/>	
	</bean>

    <bean id="dataSource"  class="autoimpresor.db.ConexionManagerAutoimpresor" scope="singleton">
    	<property name="suppressClose" value="true"/>
    </bean>
    
    <!--bean id="dataSource"  class="org.springframework.jdbc.datasource.DriverManagerDataSource" destroy-method="close" >
		<property name="url" value="jdbc:derby://localhost:1527/C:\programacion\Workspaces3\Autoimpresor\db\autoimpresor"/>
		<property name="username" value="autoimpresor"/>
		<property name="password" value="autoimpresor"/>
		<property name="driverClassName" value="org.apache.derby.jdbc.ClientDriver"/>
    </bean-->
    
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> 
        <property name="dataSource"> 
            <ref bean="dataSource"/> 
        </property>
    </bean>
    
    
	<bean id="baseTransactionProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" abstract="true">
		<property name="transactionManager" ref="transactionManager"/>
		<property name="transactionAttributes">
			<props>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="importar*">PROPAGATION_REQUIRED</prop>
                <prop key="insert*">PROPAGATION_REQUIRED</prop>
                <prop key="update*">PROPAGATION_REQUIRED</prop>
                <prop key="delete*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_SUPPORTS, readOnly</prop>
			</props>
		</property>
	</bean>

	<bean id="sessionFactoryAccess" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernateAccess.cfg.xml"/>
		<property name="dataSource" ref="dataSourceAccess"/>	
	</bean>

    <bean id="dataSourceAccess"  class="org.springframework.jdbc.datasource.DriverManagerDataSource" scope="singleton">
		<property name="url" value="jdbc:odbc:Driver={Microsoft Access Driver (*.mdb)};DBQ=.\fine.mdb"/>
		<property name="username" value="Admin"/>
		<property name="password" value=""/>
		<property name="driverClassName" value="sun.jdbc.odbc.JdbcOdbcDriver"/>
    </bean>

	<bean id="transactionManagerAccess" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> 
        <property name="dataSource"> 
            <ref bean="dataSourceAccess"/> 
        </property>
    </bean>
    
    
	<bean id="baseTransactionProxyAccess" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" abstract="true">
		<property name="transactionManager" ref="transactionManagerAccess"/>
		<property name="transactionAttributes">
			<props>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="insert*">PROPAGATION_REQUIRED</prop>
                <prop key="update*">PROPAGATION_REQUIRED</prop>
                <prop key="delete*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_SUPPORTS, readOnly</prop>
			</props>
		</property>
	</bean>
	
	<!-- Mails -->

	
	<bean id="steRealMailService" class="autoimpresor.mails.SteMailService">
		<property name="mailSender" ref="mailSender"/>
	</bean>
	
	<bean id="mailSession" class="javax.mail.Session" factory-method="getInstance">
		<constructor-arg>
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.debug">true</prop>
				<prop key="mail.smtp.socketFactory.fallback">false</prop>
				<prop key="mail.smtp.socketFactory.port">465</prop>
				<prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>

			</props>
		</constructor-arg>
 		<constructor-arg ref="smtpAuthenticator" /> 
	</bean>

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
 		<property name="host" value="smtp.gmail.com"/>    
		<property name="port" value="465"/>
		<property name="session" ref="mailSession" />
	</bean>
	
	<bean id="smtpAuthenticator" class="autoimpresor.mails.SmtpAuthenticator">
		<constructor-arg value="jtautoimpresor@gmail.com" />
		<constructor-arg value="jtautoimpresor123" />
	</bean>
	
	<!-- Mails -->

    <bean id="carnetLicenciasDao" class="autoimpresor.persistence.impl.CarnetLicenciasHome">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Add SECURITY Business here -->
    <bean id="carnetLicenciasBusiness" class="autoimpresor.business.CarnetLicenciasBiz">
        <property name="dao" ref="carnetLicenciasDao"/>
    </bean>
    <bean id="carnetLicenciasBiz" parent="baseTransactionProxy">
         <property name="target">
             <ref bean="carnetLicenciasBusiness"/> 
        </property> 
    </bean>
    
    

    <!-- Add SECURITY Service here -->
    <bean id="carnetLicenciasService" class="autoimpresor.service.impl.CarnetLicenciasService" scope="singleton" >
        <property name="businessObject" ref="carnetLicenciasBiz"/>
    </bean>
    
     <!-- Add SECURITY DAOs here -->
    <bean id="personasAccessDao" class="autoimpresor.persistence.impl.PersonasAccessHome">
        <property name="sessionFactory" ref="sessionFactoryAccess"/>
    </bean>
    <bean id="antecedentesAccessDao" class="autoimpresor.persistence.impl.AntecedentesAccessHome">
        <property name="sessionFactory" ref="sessionFactoryAccess"/>
    </bean>
    <bean id="cajaAccessDao" class="autoimpresor.persistence.impl.CajaAccessHome">
        <property name="sessionFactory" ref="sessionFactoryAccess"/>
    </bean>
    <bean id="exportadosAccessDao" class="autoimpresor.persistence.impl.ExportadosAccessHome">
        <property name="sessionFactory" ref="sessionFactoryAccess"/>
    </bean>
    <bean id="licenciasAccessDao" class="autoimpresor.persistence.impl.LicenciasAccessHome">
        <property name="sessionFactory" ref="sessionFactoryAccess"/>
    </bean>
    <bean id="localidadesAccessDao" class="autoimpresor.persistence.impl.LocalidadesAccessHome">
        <property name="sessionFactory" ref="sessionFactoryAccess"/>
    </bean>
    <bean id="clasesAccessDao" class="autoimpresor.persistence.impl.ClasesAccessHome">
        <property name="sessionFactory" ref="sessionFactoryAccess"/>
    </bean>
    <bean id="usuariosAccessDao" class="autoimpresor.persistence.impl.UsuariosAccessHome">
        <property name="sessionFactory" ref="sessionFactoryAccess"/>
    </bean>

    <!-- Add SECURITY Business here -->
    <bean id="personasAccessBusiness" class="autoimpresor.business.PersonasAccessBiz">
        <property name="dao" ref="personasAccessDao"/>
    </bean>
    <bean id="personasAccessBiz" parent="baseTransactionProxyAccess">
         <property name="target">
             <ref bean="personasAccessBusiness"/> 
        </property> 
    </bean>
    <bean id="antecedentesAccessBusiness" class="autoimpresor.business.AntecedentesAccessBiz">
        <property name="dao" ref="antecedentesAccessDao"/>
    </bean>
    <bean id="antecedentesAccessBiz" parent="baseTransactionProxyAccess">
         <property name="target">
             <ref bean="antecedentesAccessBusiness"/> 
        </property> 
    </bean>
    <bean id="cajaAccessBusiness" class="autoimpresor.business.CajaAccessBiz">
        <property name="dao" ref="cajaAccessDao"/>
    </bean>
    <bean id="cajaAccessBiz" parent="baseTransactionProxyAccess">
         <property name="target">
             <ref bean="cajaAccessBusiness"/> 
        </property> 
    </bean>
    <bean id="exportadosAccessBusiness" class="autoimpresor.business.ExportadosAccessBiz">
        <property name="dao" ref="exportadosAccessDao"/>
    </bean>
    <bean id="exportadosAccessBiz" parent="baseTransactionProxyAccess">
         <property name="target">
             <ref bean="exportadosAccessBusiness"/> 
        </property> 
    </bean>
    <bean id="licenciasAccessBusiness" class="autoimpresor.business.LicenciasAccessBiz">
        <property name="dao" ref="licenciasAccessDao"/>
    </bean>
    <bean id="licenciasAccessBiz" parent="baseTransactionProxyAccess">
         <property name="target">
             <ref bean="licenciasAccessBusiness"/> 
        </property> 
    </bean>
    <bean id="localidadesAccessBusiness" class="autoimpresor.business.LocalidadesAccessBiz">
        <property name="dao" ref="localidadesAccessDao"/>
    </bean>
    <bean id="localidadesAccessBiz" parent="baseTransactionProxyAccess">
         <property name="target">
             <ref bean="localidadesAccessBusiness"/> 
        </property> 
    </bean>
    <bean id="clasesAccessBusiness" class="autoimpresor.business.ClasesAccessBiz">
        <property name="dao" ref="clasesAccessDao"/>
    </bean>
    <bean id="clasesAccessBiz" parent="baseTransactionProxyAccess">
         <property name="target">
             <ref bean="clasesAccessBusiness"/> 
        </property> 
    </bean>
    <bean id="usuariosAccessBusiness" class="autoimpresor.business.UsuariosAccessBiz">
        <property name="dao" ref="usuariosAccessDao"/>
    </bean>
    <bean id="usuariosAccessBiz" parent="baseTransactionProxyAccess">
         <property name="target">
             <ref bean="usuariosAccessBusiness"/> 
        </property> 
    </bean>

    <!-- Add SECURITY Service here -->
    <bean id="personasAccessService" class="autoimpresor.service.impl.PersonasAccessService" scope="singleton" >
        <property name="businessObject" ref="personasAccessBiz"/>
    </bean>
    <bean id="antecedentesAccessService" class="autoimpresor.service.impl.AntecedentesAccessService" scope="singleton" >
        <property name="businessObject" ref="antecedentesAccessBiz"/>
    </bean>
    <bean id="cajaAccessService" class="autoimpresor.service.impl.CajaAccessService" scope="singleton" >
        <property name="businessObject" ref="cajaAccessBiz"/>
    </bean>
    <bean id="exportadosAccessService" class="autoimpresor.service.impl.ExportadosAccessService" scope="singleton" >
        <property name="businessObject" ref="exportadosAccessBiz"/>
    </bean>
    <bean id="licenciasAccessService" class="autoimpresor.service.impl.LicenciasAccessService" scope="singleton" >
        <property name="businessObject" ref="licenciasAccessBiz"/>
    </bean>
    <bean id="localidadesAccessService" class="autoimpresor.service.impl.LocalidadesAccessService" scope="singleton" >
        <property name="businessObject" ref="localidadesAccessBiz"/>
    </bean>
    <bean id="clasesAccessService" class="autoimpresor.service.impl.ClasesAccessService" scope="singleton" >
        <property name="businessObject" ref="clasesAccessBiz"/>
    </bean>
    <bean id="usuariosAccessService" class="autoimpresor.service.impl.UsuariosAccessService" scope="singleton" >
        <property name="businessObject" ref="usuariosAccessBiz"/>
    </bean>
    







    <!-- Add SECURITY DAOs here -->
    <bean id="antecedenteDao" class="autoimpresor.persistence.impl.AntecedenteHome">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="cajaDao" class="autoimpresor.persistence.impl.CajaHome">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="claseLicenciaDao" class="autoimpresor.persistence.impl.ClaseLicenciaHome">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="licenciaDao" class="autoimpresor.persistence.impl.LicenciaHome">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="personaDao" class="autoimpresor.persistence.impl.PersonaHome">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="usuarioDao" class="testerGeneral.persistence.impl.UsuarioHome">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Add SECURITY Business here -->
    <bean id="antecedenteBusiness" class="autoimpresor.business.AntecedenteBiz">
        <property name="dao" ref="antecedenteDao"/>
    </bean>
    <bean id="antecedenteBiz" parent="baseTransactionProxy">
         <property name="target">
             <ref bean="antecedenteBusiness"/> 
        </property> 
    </bean>
    <bean id="cajaBusiness" class="autoimpresor.business.CajaBiz">
        <property name="dao" ref="cajaDao"/>
    </bean>
    <bean id="cajaBiz" parent="baseTransactionProxy">
         <property name="target">
             <ref bean="cajaBusiness"/> 
        </property> 
    </bean>
    <bean id="claseLicenciaBusiness" class="autoimpresor.business.ClaseLicenciaBiz">
        <property name="dao" ref="claseLicenciaDao"/>
    </bean>
    <bean id="claseLicenciaBiz" parent="baseTransactionProxy">
         <property name="target">
             <ref bean="claseLicenciaBusiness"/> 
        </property> 
    </bean>
    <bean id="licenciaBusiness" class="autoimpresor.business.LicenciaBiz">
        <property name="dao" ref="licenciaDao"/>
    </bean>
    <bean id="licenciaBiz" parent="baseTransactionProxy">
         <property name="target">
             <ref bean="licenciaBusiness"/> 
        </property> 
    </bean>
    <bean id="personaBusiness" class="autoimpresor.business.PersonaBiz">
        <property name="dao" ref="personaDao"/>
    </bean>
    <bean id="personaBiz" parent="baseTransactionProxy">
         <property name="target">
             <ref bean="personaBusiness"/> 
        </property> 
    </bean>
    <bean id="usuarioBusiness" class="testerGeneral.business.UsuarioBiz">
        <property name="dao" ref="usuarioDao"/>
    </bean>
    <bean id="usuarioBiz" parent="baseTransactionProxy">
         <property name="target">
             <ref bean="usuarioBusiness"/> 
        </property> 
    </bean>

    <!-- Add SECURITY Service here -->
    <bean id="antecedenteService" class="autoimpresor.service.impl.AntecedenteService" scope="singleton" >
        <property name="businessObject" ref="antecedenteBiz"/>
    </bean>
    <bean id="cajaService" class="autoimpresor.service.impl.CajaService" scope="singleton" >
        <property name="businessObject" ref="cajaBiz"/>
    </bean>
    <bean id="claseLicenciaService" class="autoimpresor.service.impl.ClaseLicenciaService" scope="singleton" >
        <property name="businessObject" ref="claseLicenciaBiz"/>
    </bean>
    <bean id="licenciaService" class="autoimpresor.service.impl.LicenciaService" scope="singleton" >
        <property name="businessObject" ref="licenciaBiz"/>
    </bean>
    <bean id="personaService" class="autoimpresor.service.impl.PersonaService" scope="singleton" >
        <property name="businessObject" ref="personaBiz"/>
    </bean>
    <bean id="usuarioService" class="testerGeneral.service.impl.UsuarioService" scope="singleton" >
        <property name="businessObject" ref="usuarioBiz"/>
    </bean>





    
    <!-- Add SECURITY DAOs here -->
    <bean id="auditoriaDao" class="testerGeneral.persistence.impl.AuditoriaHome">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Add SECURITY Business here -->
    <bean id="auditoriaBusiness" class="testerGeneral.business.AuditoriaBiz">
        <property name="dao" ref="auditoriaDao"/>
    </bean>
    <bean id="auditoriaBiz" parent="baseTransactionProxy">
         <property name="target">
             <ref bean="auditoriaBusiness"/> 
        </property> 
    </bean>

    <!-- Add SECURITY Service here -->
    <bean id="auditoriaService" class="testerGeneral.service.impl.AuditoriaService" scope="singleton" >
        <property name="businessObject" ref="auditoriaBiz"/>
    </bean>



    <!-- Add SECURITY DAOs here -->
    <bean id="dominioDao" class="testerGeneral.persistence.impl.DominioHome">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
      <bean id="propiedadDao" class="testerGeneral.persistence.impl.PropiedadHome">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Add SECURITY Business here -->
    <bean id="dominioBusiness" class="testerGeneral.business.DominioBiz">
        <property name="dao" ref="dominioDao"/>
    </bean>
    <bean id="dominioBiz" parent="baseTransactionProxy">
         <property name="target">
             <ref bean="dominioBusiness"/> 
        </property> 
    </bean>
     <bean id="propiedadBusiness" class="testerGeneral.business.PropiedadBiz">
        <property name="dao" ref="propiedadDao"/>
    </bean>
    <bean id="propiedadBiz" parent="baseTransactionProxy">
         <property name="target">
             <ref bean="propiedadBusiness"/> 
        </property> 
    </bean>

    <!-- Add SECURITY Service here -->
    <bean id="dominioService" class="testerGeneral.service.impl.DominioService" scope="singleton" >
        <property name="businessObject" ref="dominioBiz"/>
    </bean>
    <bean id="propiedadService" class="testerGeneral.service.impl.PropiedadService" scope="singleton" >
        <property name="businessObject" ref="propiedadBiz"/>
    </bean>

 
</beans>